# Copy this file to store_backup.build and fill in your values before running build_exe.bat
# Lines starting with # are ignored.

folder_id=18UG1cbI9lkx410Xa-L6unvMkWAuNSLX9
store_name=Swami Samarth Medical
